[run]
branch = True
source = src/marcus
omit =
    */__init__.py
    */__pycache__/*
    */tests/*

[report]
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

